@using IFES.POO2.Ipharm.Domain
@using Microsoft.AspNet.Identity
@{ 
    Order order = (Order)Session["CurrentOrder"];
    int quantity = 0;
    if (order != null) {quantity = order.ItemsOrder.Count;}

    var imgSrc = "Images/users/" + User.Identity.GetUserId() + ".jpg";
    if (!File.Exists(Server.MapPath(imgSrc)))
    {
        imgSrc = "Images/users/default.png";
    }
}

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">    
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/@imgSrc" alt="">@User.Identity.GetUserName()
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu ">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("ListChart", "Company")" class="info-number" aria-expanded="false">
                        <i class="fa fa-shopping-bag"></i>
                        <span id="quantityChart" class="badge bg-green">@quantity</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
