@model IFES.POO2.Ipharm.PortalAdministrativo.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu a senha?";
    Layout = "~/Views/Shared/_ViewLogin.cshtml";
}


<div class="login-page">
    <div class="form">
        <img src="~/Images/logo.png" alt="iPharm" style="padding-bottom: 10%" />

        <h4>Digite seu email para recuperar a senha.</h4>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div style="display:none">
                @Html.ValidationSummary()
            </div>

            @Html.TextBoxFor(l => l.Email, new { placeholder = "Email" })

            <button type="submit">Recuperar</button>
        }
    </div>
</div>