<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- Phidelis Computer -->
    <!--<add name="IpharmContext" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=IFES_POO2_IPHARM;User Id=sa;Password=sa"/>-->

    <!--Angélica's Computer-->
    <!--<add name="IpharmContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Encrypt=False;Integrated Security=True;Database=IFES_POO2_IPHARM;User ID='Note-pc\André Martins'"/>-->

    <add name="IpharmContext"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\aspnet-IFES.POO2.Ipharm.AcessoDados.Entity-20180520162250.mdf;Initial Catalog=aspnet-IFES.POO2.Ipharm.AcessoDados.Entity-20180520162250;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    

    <!--<add name="MusicasDbContext" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=TreinaWeb_Musicas;User Id=sa;Password=sa"/>-->
    <!--<add name="MusicasDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=localhost\SQLEXPRESS01;Database=TreinaWeb_Musica;Integrated Security=true"/>-->
    <!--<add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TreinaWeb.Musicas.AcessoDados.Entity-20180520162250.mdf;Initial Catalog=aspnet-TreinaWeb.Musicas.AcessoDados.Entity-20180520162250;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>